:root {
  --red:red;
  --green:green;
  --blue:blue;
}

body {
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  background: rgb(var(--red), var(--green), var(--blue));
}

label {
  width: 55vw;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
}

input {
  margin-left: auto;
  display: block;
  width: 40vw;
}

img {
  width: 100vh;
}

input {
  margin-left: auto;
  display: block;
  width: 40vw;
}