/* Variables CSS (Custom Properties) 
  - herencia
  - cascada

  Espacio en memoria que almacena un valor
  ese valor puede ser recuperado.

  Una variable puede ser global o scope de bloque
  Global: Debe ser declarado en el elemento mas alto de DOM como  "HTML"

  TIENEN SCOPE DE DOM : QUIERE DECIR QUE AUNQUE SE DECLARE DESPUES DE UNA ETIQUETA
  LA LLAMADA DE LA VARIABLE ES TOMADA EN LA DECLARACION DEBIDO A QUE EN EL DOM EL 
  ELEMENTO ES SUPERIOR A LA ETIQUETA DONDE SE LLAMA LA VARIABLE.
  ====================


lA MEJOR PRACTICA ES QUE CUANDO QUIERAS CAMBIAR O REDECLARAR LA VARIABLE
ESTA SE REDECLARE EN EL SCOPE PARA QUE LAS VARIABLES DONDE SE USARON TAMBIEN
SE MODIFIQUEN.



*/
:root{
  --color:purple;
  --link-color: orange;
  --bg-color:var(green);
}

html{
  background: var(--link-color);
}

a{
  color: var(--link-color);
}


p{
  color: var(--color);
}